<div class="container col-md-6 mt-0">
  <div class="card">
    <div class="card-header">
      <h3 appHighight class="text-center">Sign In</h3>
    </div>
    <div class="card-body">

      <!-- <div class="card"> -->


      <div class="card-body">
        <form [formGroup]="saveForm" (ngSubmit)="save()">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Company Name</span>
            </div>
            <input type="text" name="cname" formControlName="cname" class="form-control" placeholder="">
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Address</span>
            </div>
            <input type="text" name="adrs" formControlName="adrs" class="form-control" placeholder="">
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Website</span>
            </div>
            <input type="text" name="web" formControlName="web" class="form-control" placeholder="">
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">PID</span>
            </div>
            <input type="text" name="pid" formControlName="pid" class="form-control" readonly placeholder="Auto fill">
          </div>
          <div class="input-group form-group" formArrayName="features">
            <div class="input-group-prepend">
              <span class="input-group-text">Features</span>
            </div>
            <div *ngFor="let contact of saveForm.get('features')['controls']; let i=index;">
              <select class="select" [formControlName]="i">
                <option value="Feature1">Feature1</option>
                <option value="Feature2">Feature2</option>
                <option value="Feature1">Feature3</option>
                <option value="Feature4">Feature4</option>
                <option value="Feature5">Feature5</option>
                <option value="Feature6">Feature6</option>
                <option value="Feature7">Feature7</option>
                <option value="Feature8">Feature8</option>
              </select>
            </div>

            <div>
              <button (click)="addFeatures()">Add more Features</button>

            </div>

          </div>
          <div class="input-group form-group" formArrayName="subfeatures">
            <div class="input-group-prepend">
              <span class="input-group-text">Sub Features</span>
            </div>
            <div *ngFor="let subfeat of saveForm.get('subfeatures')['controls']; let i=index;">
              <select class="select" [formControlName]="i">
                <option value="Feature1">Feature1</option>
                <option value="Feature2">Feature2</option>
                <option value="Feature1">Feature3</option>
                <option value="Feature4">Feature4</option>
                <option value="Feature5">Feature5</option>
                <option value="Feature6">Feature6</option>
                <option value="Feature7">Feature7</option>
                <option value="Feature8">Feature8</option>
              </select>
            </div>

            <div>
              <button (click)="addSubFeatures()">Add more Sub Features</button>
            </div>

          </div>
          <div class="input-group form-group" formArrayName="addinput">
            <div class="input-group-prepend">
              <span class="input-group-text">Additional Input</span>
            </div>
            <div *ngFor="let addinput of saveForm.get('addinput')['controls']; let i=index;">


              <input type="text" [formControlName]="i">

            </div>

          </div>
            <div>
              <button (click)="addMoreInput()">Add more Input</button>
            </div>
          
          


          <div class="input-group form-group">
          </div>
          <input type="submit" value="Save" class="btn float-right login_btn " style="width:50%">

        </form>
      </div>
    </div>
  </div>
</div>